body {
    background-color: black;
}

.products {
    
}

.img-div p {
    font-family: 'Titillium Web', sans-serif;
    color: black;
    font-size: 2em;
    margin-top: -100px;
    margin-left: -25px;
    /* text-shadow: 2px 2px white; */
}

a {
    font-family: 'Titillium Web', sans-serif;
    color: white;
    background-color: black;
    text-decoration: none;
}

a:hover {
    font-family: 'Titillium Web', sans-serif;
    color: black;
    background-color: white;
}

.title {
    font-family: 'Titillium Web', sans-serif;
    color: white;
    background-color: black;
    margin-top: 0px;
    margin-left: 0px;
    padding: 0px;
    font-size: 3em;
}

.back-div p {
    font-family: 'Titillium Web', sans-serif;
    color: white;
    background-color: black;
    font-size: 2em;
}

.title-div p {
    font-family: 'Titillium Web', sans-serif;
    color: white;
    background-color: black;
    font-size: 3em;
}

@media (max-width: 767.98px) { 

    .img-div {
        margin-left: 50px;
        margin-right: 100px;
        margin-bottom: 50px;
    }
}